.cursor-pointer {
	cursor: pointer !important;
}

.cursor-default {
	cursor: default !important;
}

.font-size-10px {
	font-size: 10px !important;
}

.font-size-12px {
	font-size: 12px !important;
}

.font-size-14px {
	font-size: 14px !important;
}

.font-size-18px {
	font-size: 18px !important;
}

.font-size-20px {
	font-size: 20px !important;
}

.font-size-24px {
	font-size: 24px !important;
}

.mt-80px {
	margin-top: 80px !important;
}

.mt-5pr {
	margin-top: 5% !important;
}

.mh-0px {
	min-height: 0px !important;
}

.border-dashed-f4 {
	border: 1px dashed var(--bs-border-color) !important;
}

.card {
	border: none;
	transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
	overflow: hidden;
	border-radius: 20px;
	min-height: 450px;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.card {
		min-height: 350px;
	}
}

@media (max-width: 420px) {
	.card {
		min-height: 300px;
	}
}

/* @media (max-width: 768px) {
	.configure {
		margin-bottom: 20px;
	}

	.cart {
		display: block !important;
		margin-top: 20px;
		z-index: 1000;
	}

	.cart-summary--mobile {
		display: block;
		width: 100%; 
		margin-top: 20px;
	}
} */

.card.card-has-bg {
	transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: center center;
}

.card.card-has-bg:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: inherit;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.card.card-has-bg:hover {
	transform: scale(0.98);
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
	background-size: 130%;
	transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card.card-has-bg:hover .card-img-overlay {
	transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	background: #234f6d;
	background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
}

.card .card-footer {
	background: none;
	border-top: none;
}

.card .card-footer .media img {
	border: solid 3px rgba(255, 255, 255, 0.3);
}

.card .card-body {
	transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
	cursor: pointer;
	transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-body {
	margin-top: 30px;
	transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
	transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	background: #234f6d;
	background: linear-gradient(0deg,
			rgba(35, 79, 109, 0.3785889356) 0%,
			#455f71 100%);
}

.box-time {
	max-height: 200px;
	overflow-y: auto;
}

.box-accessories {
	max-height: 250px;
	overflow-y: auto;
}

.width-time {
	width: 150px;
}

@media (max-width: 576px) {
	.flatpickr-calendar {
		width: 100% !important;
	}

	.width-time {
		width: 160px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.width-time {
		width: 150px;
	}
}

@media (min-width: 992px) {
	.flatpickr-calendar {
		width: 100% !important;
	}

	.width-time {
		width: 140px;
	}
}

/* Div Loader */
.loader {
	width: 60px;
	height: 60px;
}

.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-top: 2px solid #13263c;
	border-right: 2px solid transparent;
	animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
	to {
		transform: rotate(360deg);
	}
}

/* Accessories Image */
.select-time {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid transparent;
	margin-bottom: 0;
}

.blocking-time {
	cursor: default;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid transparent;
	margin-bottom: 0;
}

.select-time input[type="checkbox"] {
	display: none;
}

.blocking-time input[type="checkbox"] {
	display: none;
}

.times-checkbox-checked {
	border-color: var(--bs-component-active-bg);
	border-radius: 8px !important;
}

.addon-checkbox-checked {
	border-color: var(--bs-component-active-bg) !important;
	border-radius: 8px !important;
}

.addon-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid transparent;
	margin-bottom: 0;
}

.addon-checkbox input[type="radio"] {
	display: none;
}

.addon-checkbox .fa {
	position: absolute;
	color: var(--bs-component-active-bg);
	background-color: #fff;
	padding: 10px;
	top: 0;
	right: 0;
}

.addon-checkbox-checked .fa {
	display: block !important;
}

/* Accessories Checkbox */
.accessories-checkbox-checked {
	border-color: var(--bs-component-active-bg) !important;
	border-radius: 8px !important;
}

.accessories-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid transparent;
	margin-bottom: 0;
}

.accessories-checkbox input[type="radio"] {
	display: none;
}

.accessories-checkbox .fa {
	position: absolute;
	color: var(--bs-component-active-bg);
	background-color: #fff;
	padding: 10px;
	top: 0;
	right: 0;
}

.accessories-checkbox-checked .fa {
	display: block !important;
}

@media (min-width: 992px) {
	.box-1 {
		width: 650px;
		padding: 30px 40px;
		user-select: none;
	}

	.box-2 {
		padding: 10px 0 0 40px;
	}

	.box-inner-2 {
		width: 450px;
	}
}

.box-1 img.pic {
	width: 20px;
	height: 20px;
	object-fit: cover;
}

.box-1 img.mobile-pic {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.box-1 .name {
	font-size: 11px;
	font-weight: 600;
}

.dis {
	font-size: 12px;
	font-weight: 500;
}

.box-2 .box-inner-2 input.form-control {
	font-size: 12px;
	font-weight: 600;
}

.box-2 .box-inner-2 .inputWithIcon {
	position: relative;
}

.box-2 .box-inner-2 .inputWithIcon span {
	position: absolute;
	left: 15px;
	top: 8px;
}

.box-2 .box-inner-2 .inputWithcheck {
	position: relative;
}

.box-2 .box-inner-2 .inputWithcheck span {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: green;
	font-size: 12px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 15px;
	top: 6px;
}

.border:focus-within {
	border: 1px solid #7700ff !important;
}

.box-2 .card-atm .form-control {
	border: none;
	box-shadow: none;
}

.address .form-control.zip {
	border-radius: 0;
	border-bottom-left-radius: 10px;
}

.address .form-control.state {
	border-radius: 0;
	border-bottom-right-radius: 10px;
}

.box-2 .box-inner-2 .btn.btn-outline-primary {
	padding: 10px;
	font-size: 11px;
	padding: 0% !important;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 0;
	background-color: whitesmoke;
	color: black;
	font-weight: 600;
}

.box-2 .box-inner-2 .btn.btn-primary {
	background-color: #7700ff;
	color: whitesmoke;
	font-size: 14px;
	display: flex;
	align-items: center;
	font-weight: 600;
	justify-content: center;
	border: none;
	padding: 10px;
}

.box-2 .box-inner-2 .btn.btn-primary:hover {
	background-color: #7a34ca;
}

.box-2 .box-inner-2 .btn.btn-primary .fas {
	font-size: 13px !important;
	color: whitesmoke;
}

.carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.carousel-inner {
	/* width: 100%; */
	/* height: 200px; */
	aspect-ratio: 16 / 9;
}

.carousel-item img {
	object-fit: cover;
	height: 100%;
}

.carousel-control-prev {
	/* transform: translateX(-50%); */
	opacity: 1;
}

.carousel-control-prev:hover .fas.fa-arrow-left {
	transform: translateX(-5px);
}

.carousel-control-next {
	/* transform: translateX(50%); */
	opacity: 1;
}

.carousel-control-next:hover .fas.fa-arrow-right {
	transform: translateX(5px);
}

.fas.fa-arrow-left,
.fas.fa-arrow-right {
	font-size: 0.8rem;
	transition: all 0.2s ease;
}

.icon {
	width: 30px;
	height: 30px;
	background-color: #f8f9fa;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transform-origin: center;
	opacity: 1;
}

.fas.fa-times {
	color: red;
}

.fas,
.fab {
	color: #6d6c6d;
}

::placeholder {
	font-size: 12px;
}

.couponCode {
	text-transform: uppercase;
	font-size: 0.7rem;
}

#code {
	pointer-events: none;
	font-weight: 600;
}

.close {
	cursor: pointer;
}

.info {
	transform: translateX(-500px);
	animation: moving 1.5s;
	animation-fill-mode: forwards;
}

.updates {
	transform: translateX(-500px);
	animation: moving 1.7s;
	animation-fill-mode: forwards;
}

.different {
	transform: translateX(-500px);
	animation: moving 1.9s;
	animation-fill-mode: forwards;
}

.black {
	transform: translateX(-500px);
	animation: moving 2.1s;
	animation-fill-mode: forwards;
}

.white {
	transform: translateX(-500px);
	animation: moving 2.3s;
	animation-fill-mode: forwards;
}

.pastel {
	transform: translateX(-500px);
	animation: moving 2.5s;
	animation-fill-mode: forwards;
}

.footer {
	transform: translateX(-500px);
	animation: moving 2.6s;
	animation-fill-mode: forwards;
}

@keyframes moving {
	0% {
		opacity: 0;
		transform: translateX(-500px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.box-2 {
	transform: translateY(-500px);
	animation: img-top 2.5s;
	animation-fill-mode: forwards;
}

.user {
	transform: translateY(-500px);
	animation: img-top 2.5s;
	animation-fill-mode: forwards;
}

.userdetails {
	transform: translateY(-500px);
	animation: img-top 2s;
	animation-fill-mode: forwards;
}

.imgdetails {
	transform: translateY(-500px);
	animation: img-top 1.5s;
	animation-fill-mode: forwards;
}

@keyframes img-top {
	0% {
		opacity: 0;
		transform: translateY(-500px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 700px;
		margin: 10px auto;
	}

	.box-1,
	.box-2 {
		padding: 20px 90px;
		margin: 20px auto;
	}

	.box-2 {
		transform: translateX(-500px);
		animation: box-side 2.6s;
		animation-fill-mode: forwards;
	}

	@keyframes box-side {
		0% {
			opacity: 0;
			transform: translateX(-500px);
		}

		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

@media (max-width: 426px) {

	.box-1,
	.box-2 {
		padding: 20px 10px;
	}

	::placeholder {
		font-size: 9px;
	}
}

/**
 * store.css
 * Xendit Checkout Demo
 * This file contains the styling for demo store page
 */

/* Overall Container */

.checkout__wrapper {
	height: inherit;
	display: flex;
	flex-direction: row;
}

/* Configuration */
.configure {
	flex: 0 0 62%;
}

.panel-configure__title {
	padding: 15px 0 15px 0;
	line-height: 54px;
	font-size: 44px;
	font-weight: 700;
	text-transform: none;
}

.panel-configure__title-mobile {
	padding: 15px 0 15px 0;
	line-height: 54px;
	font-size: 44px;
	font-weight: 700;
	text-transform: none;
	display: none;
}

.panel-configure__message,
.panel-configure__tip {
	font-size: 16px;
}

.panel-configure__tip {
	padding-bottom: 30px;
}

.form-configure {
	width: 450px;
	display: flex;
	flex-direction: column;
}

.form-configure__label {
	font-weight: 600;
	color: #3d3d3d;
}

.form-configure__select {
	margin: 8px 0 25px 0;
	padding: 10px;
	color: #3d3d3d;
	border-color: #cccccc;
	border-radius: 4px;
	background: url(../../../../images/store/icon-arrow.svg) 97% center no-repeat;
	-o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.form-configure__button-demo {
	margin-top: 10px;
}

.form-configure__button-demo:disabled,
.form-configure__button-demo[disabled] {
	opacity: 0.5;
}

.form-configure__button-demo:disabled>span,
.form-configure__button-demo[disabled]>span {
	display: none;
}

.form-configure__button-demo:disabled::after,
.form-configure__button-demo[disabled]::after {
	content: "Launching...";
}

.form-configure__note {
	margin: 15px 0 40px 0;
	font-style: italic;
	text-align: center;
}

/* Cart */
.cart {
	flex: 0 0 40%;
	border-left: 1px solid #ececec;
}

.cart-summary__checkbox--mobile,
.cart-summary--mobile {
	display: none;
}

.cart-summary {
	margin: 0 30px;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.cart-summary__title {
	padding: 25px 0 40px 0;
	font-size: 18px;
}

.cart-summary__title-mobile,
.cart-summary__title-mobile--expand {
	display: none;
}

.cart-summary__order-item {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	position: relative;
}

.cart-summary__order-item::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ececec;
}

.order-item__image {
	width: 70px;
	height: 70px;
}

.order-item__description {
	margin: 0 20px;
}

.order-item__description-name {
	font-weight: 600;
}

.order-item__description-count {
	margin-top: 8px;
}

.order-item__price {
	margin-left: auto;
	font-weight: 600;
}

.cart-subtotal {
	padding: 20px 0;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

.cart-total {
	padding: 20px 0;
}

.cart-subtotal__order-item {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
}

.cart-subtotal__order-item:last-child {
	margin-bottom: 0;
}

.cart-total__order-item,
.cart-total__soft-indicator{
	display: flex;
	flex-direction: row;
}

.cart-total__order-item * {
	font-size: 18px;
	font-weight: 600;
}

/* Modal */
.modal-background {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1010;
	background-color: rgba(0, 0, 0, 0.65);
	display: none;
}

.modal-background--blackout {
	display: block;
}

.modal-popup {
	height: calc(100vh - 150px);
	width: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1011;
	background-color: #ffffff;
	transform: translateX(-50%) translateY(calc(-50% - 0.5px));
}

.modal-popup__icon-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	background: url(../../../../images/store/icon-times.svg) center no-repeat #4573ff;
}

.modal-popup,
.modal-popup__icon-close {
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease-in-out;
}

.modal-popup--visible,
.modal-popup--visible .modal-popup__icon-close {
	opacity: 1;
	pointer-events: auto;
}

/* iFrame */
.iframe-invoice {
	height: inherit;
	width: inherit;
	border: 0;
	overflow-y: scroll;
}

.checkout__wrapper {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 769px) {
	.checkout__wrapper {
		flex-direction: row;
		/* Kembalikan flex direction menjadi row untuk tampilan desktop */
	}
}

@media screen and (max-width: 768px) {

	/* Configuration */
	.configure {
		width: 100%;
		order: 1;
	}

	.cart-summary__title {
		padding: 10px 0 20px 0;
		font-size: 18px;
	}

	/* Cart */
	.cart {
		width: 100%;
		margin-top: 20px;
		position: relative;
		/* display: none !important; */
	}

	.cart-summary {
		margin: 0 20px;
		max-height: none;
	}

	.cart-summary__title {
		display: block;
	}
	
	.card-header h2 {
		/* font-size: 30px; */
		margin-top: 5px;
	}

	.panel-configure__title {
		padding: 15px 0 15px 0;
		line-height: 54px;
		font-size: 44px;
		font-weight: 700;
		text-transform: none;
		display: none;
	}
	
	.panel-configure__title-mobile {
		padding: 15px 0 15px 0;
		line-height: 54px;
		font-size: 30px;
		font-weight: 700;
		text-transform: none;
		display: inline;
		margin-left: 6px;
	}

}


/* Responsive View */
@media screen and (max-width: 768px) {

	/* Configuration */
	.configure {
		flex: 0 0 100%;
	}

	.form-configure {
		margin: 0 20px;
		width: auto;
	}

	.panel-configure {
		margin: 20px;
	}

	.panel-configure__title {
		padding: 15px 0 15px 0;
		line-height: 54px;
		font-size: 44px;
		font-weight: 700;
		text-transform: none;
		display: none;
	}
	
	.panel-configure__title-mobile {
		padding: 15px 0 15px 0;
		line-height: 54px;
		font-size: 30px;
		font-weight: 700;
		text-transform: none;
		display: inline;
	}

	/* .panel-configure__title {
		font-size: 30px;
		line-height: normal;
	} */

	.panel-configure__message {
		padding-bottom: 10px;
	}

	.panel-configure__tip {
		padding-bottom: 0;
	}

	/* Cart */
	.cart {
		width: 100%;
		flex: none;
		position: relative;
		/* Ubah absolute menjadi relative */
		margin-top: 20px;
		/* Tambahkan margin atas untuk jarak */
		/* background-color: #fafafa; */
		/* border: 1px solid #ececec; */
		border: none;
	}

	.cart-summary {
		margin: 0 20px;
		max-height: none;
		/* Ubah dari max-height: 0 menjadi none */
	}

	.cart-summary__title {
		display: block;
		/* Ubah dari display: none menjadi block */
	}

	.cart-summary--mobile {
		margin: 15px 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		user-select: none;
		display: none;
	}

	.cart-summary__title-toggle {
		font-size: 16px;
		font-weight: 600;
		background: url(../../../../images/store/icon-cart.svg) left center no-repeat;
	}

	.cart-summary__title-toggle>span {
		display: block;
	}

	.cart-summary__icon-toggle {
		height: 25px;
		width: 25px;
		margin-left: 5px;
		background: url(../../../../images/store/icon-arrow.svg) center center no-repeat;
		transition: 0.2s ease-in-out;
	}

	.cart-summary__title-toggle:before {
		content: "";
		width: 30px;
		height: 30px;
		background: url(../../../../images/store/icon-cart.svg) right center no-repeat;
	}

	.cart-summary__total {
		margin-left: auto;
		font-weight: 600;
	}

	.cart-summary__checkbox--mobile:checked~.cart-summary {
		margin: 20px;
		max-height: 350px;
	}

	.cart-summary__checkbox--mobile:checked~.cart-summary--mobile>.cart-summary__title-toggle>span {
		display: none !important;
	}

	.cart-summary__checkbox--mobile:checked~.cart-summary--mobile>.cart-summary__title-toggle:after {
		display: block;
		content: "Hide Orders";
	}

	.cart-summary__checkbox--mobile:checked~.cart-summary--mobile>.cart-summary__icon-toggle {
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}

	.order-item__image {
		width: 50px;
		height: 50px;
	}

	.order-item__description-count {
		margin-top: 4px;
		padding-bottom: 10px;
	}

	.subtotal-wrapper .total-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.cart-subtotal {
		padding: 20px 0;
		border-top: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}

	.cart-subtotal__order-item,
	.cart-total__soft-indicator,
	.cart-total__order-item {
		justify-content: flex-end;
	}

	.retention-customer-radio{
		margin-top: 8px;
	}

	.cart-subtotal__order-item {
		margin-bottom: 15px;
	}

	.cart-summary__order-item .order-item__price,
	.cart-subtotal__order-item .order-item__price {
		font-weight: normal;
	}

	.cart-subtotal__order-item .order-item__price,
	.cart-total__order-item .order-item__price,
	.order-item__soft-indicator {
		margin-left: 0;
		width: 180px;
		text-align: right;
	}

	/* .cart-total__order-item * {
		font-size: inherit;
	} */

	/* .cart-total {
		padding: 15px 0;
	} */

	.form-configure__note {
		margin-bottom: 20px;
	}

	/* Modal */
	.modal-popup {
		height: calc(100% - 40px);
		width: calc(100vw - 40px);
	}

	.cart-overflow {
		/* height: 220px; */
		max-height: 220px;
		overflow: auto;
	}
}